<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
</head>
<body>
    <h2>チャット画面</h2>
    <h3>受け取り場所等をチャットで決めてください</h3>
    <p>ここで相手の学籍番号</p>
    <input type="form">
    <input type="submit" value="チャットを送る">
    <h2>取引情報</h2>
    <h3>物の名前(DBから取得?)</h3>
    <%let time = new Date();%>
    <h4>取引開始時刻:<%-time%></h4>
    <input type="submit" value="取引を完了する">
</body>
</html>