<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    <h2>チャット画面</h2>
    <h3>受け取り場所等をチャットで決めてください</h3>
    <p>ここで相手の学籍番号</p>
    <input type="form">
    <input type="submit" value="チャットを送る">
    <h2>取引情報</h2>
    <h3>物の名前:<p><%=mono[0].mono_name%></p></h3>
    <h4>取引開始時刻</h4>
        <%#年月日の配列のループ%> 
        <%for(let i = 0;i < ymd.length; i++){%>
        <%=ymd[i]%>
        <%}%>
        <%=time%> <%#時分秒の表示%>
    <input type="submit" value="取引を完了する">
</body>
</html>