<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monodetail</title>
</head>
<body>
    <a href="/home"><input type="submit" value="戻る"></a>
    <p>mono name</p>
    <input type="submit" value="お気に入り登録">
    <input type="submit" value="コメントする">
    <input type="submit" value="譲ってもらう" onclick="hand_over()">
    <script>
        function hand_over(){
            if(window.confirm("譲ってもらいますか?")){
                location.href = "/chat"; //mono_idとchat_idを付与してページ移動(今は実装できてない)
            }     
        }
    </script>
    <p>投稿者名</p>
    <p>物の説明</p>
    <input type = "text">
    <p>コメント</p>
    <input type="text">
    <input type="submit" value="コメントを送る">
</body>
</html>