<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monodetail</title>
</head>
<body>
<<<<<<< HEAD
<<<<<<< HEAD
    <!--本来画像はサーバから取得(仮の確認としてmono_idを出力)--->
    <%-detail_id%>
=======
=======
>>>>>>> 8036d39bfa8b6209fc7d3cfdd69d2b4930fcd260
    <a href="/home"><input type="submit" value="戻る"></a>
    <p>mono name</p>
    <input type="submit" value="お気に入り登録">
    <input type="submit" value="コメントする">
    <input type="submit" value="譲ってもらう" onclick="hand_over()">
    <script>
        function hand_over(){
            if(window.confirm("譲ってもらいますか?")){
                location.href = "/chat"; //mono_idとchat_idを付与してページ移動(今は実装できてない)
            }     
        }
    </script>
    <p>投稿者名</p>
<<<<<<< HEAD
>>>>>>> 739836d4f8fafa2f2c8ba20f406209996755b558
=======
>>>>>>> 8036d39bfa8b6209fc7d3cfdd69d2b4930fcd260
    <p>物の説明</p>
    <input type = "text">
    <p>コメント</p>
    <input type = "text">
</body>
</html>