<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ご利用ガイド</title>
</head>
<body>
    
    
    <input type="text" value="">
    <input type="submit" value="検索">
    
    <input type="button" name="マイページ" value="マイページ">
    <input type="button" name="投稿" value="投稿">

    <p>ご利用ガイド</p>

</body>
</html>