<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/home.css">
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
        }
        .imgarea {
            flex: 0 0 calc(33.333% - 20px); /* 画面幅の1/3で固定幅、20pxは余白 */
            margin: 10px; /* 余白 */
        }
        .img {
            width: 100%; /* 画像を親要素に合わせて100%にする */
            height: auto;
            cursor: pointer;
        }
        .img_title {
            text-align: center;
        }
    </style>
</head>
<body>
    
    <header>
        <h2>osagari</h2>
        <input type="text" value="" id="findmono">
        <input type="submit" value="検索" onclick="searchclicked()">
        <a href="/mypage"><input type="button" name="mypage" value="マイページ"></a>
        <a href="/new"><input type="submit" value="投稿"></a>
    </header>
    
    <p>新着情報</p>
    <hr />
    <div class="image-container">
        <!-- 画像を表示する部分 -->
        <% mono_data.forEach(function (v) { %>
            <div class="imgarea">
                <!-- 画像とタイトルの表示 -->
                <img class="img" src="<%= v.img_path %>" id="<%= v.mono_id %>" onclick="imgclick(this)">
                <p class="img_title"><%= v.mono_name %></p>
            </div>
        <% }); %>
    </div>

    <script>
        function searchclicked(){
            let formtext = document.getElementById("findmono");
            if(formtext.value){ //検索の文字列が参照できるなら
                location.href = `/search?query=${formtext.value}`;//クエリパラメータとして追記する
            }
        }
        
        function imgclick(ele){
            const id_value = ele.id; //自分自身のidの値を取得
            if(id_value){ //念のため参照できるか確認
                location.href = `/detail/${id_value}`;
            }
        } 
    </script>
</body>
</html>
