<<<<<<< HEAD
<<<<<<< HEAD
<%-include('../public/html/home.html');%>
=======
=======
>>>>>>> 8036d39bfa8b6209fc7d3cfdd69d2b4930fcd260
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
</head>
<body>
    <input type="text" value="" id = "findmono">
    <input type="submit" value="検索" onclick="searchclicked()">
    <a href="/new"><input type="submit" value="投稿"></a>
    <script>
        function searchclicked(){
            let formtext = document.getElementById("findmono");
            if(formtext.value){ //検索の文字列が参照できるなら
                location.href = `/search?query=${formtext.value}`;//クエリパラメータとして追記する
            }
        }
    </script>
    <a href="/mypage"><input type="button" name="mypage" value="マイページ"></a>
    <p>新着情報</p>
    <div class="mono_container">
        <div class="mono_item">
            <!---ルーティングの移動用仮画像--->
            <img src="../demo.png" onclick="imgclick()"/>
        </div>
    </div>
    <script>

        function imgclick(){
            console.log("imgclick called");
            //ここでエラー(/detail/:mono_idが参照できていないから?)
            //location.href = '/detail';
        }
    </script>
</body>
<<<<<<< HEAD
</html>
>>>>>>> 739836d4f8fafa2f2c8ba20f406209996755b558
=======
</html>
>>>>>>> 8036d39bfa8b6209fc7d3cfdd69d2b4930fcd260
