<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <input type="text" value="" id = "findmono">
    <input type="submit" value="検索" onclick="searchclicked()">
    <a href="/new"><input type="submit" value="投稿"></a>
    <script>
        function searchclicked(){
            let formtext = document.getElementById("findmono");
            if(formtext.value){ //検索の文字列が参照できるなら
                location.href = `/search?query=${formtext.value}`;//クエリパラメータとして追記する
            }
        }
    </script>
    <a href="/mypage"><input type="button" name="mypage" value="マイページ"></a>
    <p>新着情報</p>
        <!---ルーティングの移動用仮画像--->
        <img src="demo.png" onclick="imgclick()" alt="demo画像">
        <% mono_data.forEach(function (v) {%>
            <img src = <%=v.img_path%>>
            <%-v.mono_id%>
        <%});%>
    <script>

        function imgclick(){
            console.log("imgclick called");
        }
    </script>
</body>
</html>
