<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <input type="text" value="">
    <input type="submit" value="検索">
    <input type="button" name="mypage" value="マイページ">
    <p>新着情報</p>
    <img src= "demo.png" alt="デモ画像"/>
</body>
</html>