<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>osagari</h1>
    <h2>ログインページ</h2>
    <div>
        続行すると、<a href="/login/terms">osagari</a>の利用規約と<br>
        <a href="/login/privacy">プライバシーポリシー</a>に同意したものとみなされます。
    </div>
</body>
</html>