<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>物の詳細ページ</title>
</head>
<body>
    
    <h1>物の詳細ページ</h1>
    <input type="text" value="">
    <input type="submit" value="検索">
    
    <input type="button" name="マイページ" value="マイページ">
    <input type="button" name="投稿" value="投稿">
    <input type="button" name="お気に入りに登録" value="お気に入りに登録">
    <input type="button" name="コメントする" value="コメントする">
    <input type="button" name="譲ってもらう" value="譲ってもらう">
    
    <p></p>
    <img src= "demo.png" alt="デモ画像"/>

    <p>物の説明</p>
    <p>コメント</p>
    <input type="text" value="">
    <p></p>
    <input type="submit" value="コメントを送る">


</body>
</html>