<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monodetail</title>
</head>
<body>
    <a href="/home"><input type="submit" value="戻る"></a>
    <p>商品名:<%- mono_obj[0].mono_name%></p>
    <input type="submit" value="お気に入り登録">
    <input type="submit" value="コメントする">
    <input type="submit" value="再編集する">
    <input type="submit" value="投稿を削除する">
    
    <p>物の説明</p>
    <p><%- mono_obj[0].mono_explanation%></p>
    <p>コメント</p>
    <textarea id="detailcomment" placeholder="コメントする"></textarea>
    <input type="button" name="sendcomment" value="コメントを送る">
</body>
</html>