<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
</head>
<body>
    <h1><a href="/home">osagari</a></h1>
    <h2>マイページ</h2>
    
    <h1>マイページ</h1>
    <input type="text" value="" id = "findmono">
    <input type="submit" value="検索">
    <a href="/new"><input type="submit" value="投稿"></a>
    
    <a href="/mypage/posted?select=posting"><input type="submit" value="投稿した物"></a>
    
    <a href="/guide"><input type="submit" value="ご利用ガイド"></a>
</body>
</html>