<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
    <% const beforepost="";%>
    <% const afterpost="<p>投稿されました。</p>";%>
</head>
<body>
    <p>投稿画面</p>
    <p>物の名前</p>
    <p>物の説明</p>
    <button>投稿する</button>
</body>
</html>