<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1><a href="/home">osagari</a></h1>
    <h2>投稿画面</h2>
    <p>画像</p>
    <img src="../public/demo.png"/>
    <p>物の名前(必須)</p>
    <input type = "text">
    <p>物の説明(必須)</p>
    <input type = "text">
    <a href="/new/result"><button>投稿する</button></a>
</body>
</html>