<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <header>
    <h1><a href="/home">osagari</a></h1>
    </header>

    <h2>投稿画面</h2>
    <form action="/new" method="post" enctype="multipart/form-data">
        <p>画像</p>
        <input name="monoimg" type="file" />
        <%if(imgerror){%>
            <p>画像が選択されていません</p>
        <%}%>
        <p>物の名前(必須)</p>
        <input type = "text" name="mononame">
        <p>物の説明(必須)</p>
        <input type = "text" name="monoexplan">

        <dialog>
            <!-- モーダルウィンドウ内のテキストの指定 -->
            <p>投稿しますか？</p>
            <!-- モーダルウィンドウ内を閉じるボタンの指定 -->
            <button id="yes">はい</button>
            <button id="no">いいえ</button>
          </dialog>
          <!-- モーダルウィンドウ内を開くボタンの指定 -->
          <button id="new">投稿する</button>       

    </form>

    <script>
        // Javascript宣言
        let dialog = document.querySelector('dialog'); // dialog（モーダルダイアログ）の宣言
        let btn_new = document.getElementById('new'); // 投稿ボタンの宣言
        let btn_yes = document.getElementById('yes');//yes(はい)ボタンの宣言
        let btn_no = document.getElementById('no'); // No（閉じる）ボタンの宣言
        
        // 投稿ボタンをクリックした場合の処理
        btn_new.addEventListener('click', function() { 
        dialog.showModal();
        }, false);
        
        // yesをクリックした場合の処理
        btn_yes.addEventListener('click', function() {
                // ここに投稿処理を追加()
                 // 別の EJS ファイルに遷移する
                 dialog.close();
                 window.location.href = '/uplooadresult'; // 遷移先の URL を指定    
            }, false);
            
        // Noをクリックした場合の処理
        btn_no.addEventListener('click', function() {
        dialog.close();
        }, false);
    
        </script>


</body>
</html>