<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h2>投稿画面</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <p>画像</p>
        <input type="file" name="monoimg">
        <%if(imgerror){%>
            <p>画像が選択されていません</p>
        <%}%>
        <p>物の名前(必須)</p>
        <input type = "text" name="mononame">
        <p>物の説明(必須)</p>
        <input type = "text" name="monoexplanation">
        <input type = "submit" value="投稿する">
    </form>
</body>
</html>