<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
</head>
<body>
    <h1>投稿したもの</h1>
    <p>投稿中</p>
    <img src="../demo.png" onclick="imgclick()">
    <script>
        function imgclick(){
            console.log("imgclick called");
        }
    </script>
</body>
</html>