<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
</head>
<body>
    <h1>投稿したもの</h1>
    <p>投稿中</p>
    <%for(let i=0; i<postdata.length; i++){%>
        <%-postdata[i].mono_name%>
        <img src=<%=postpaths[i].img_path%> id=<%=postdata[i].mono_id%> onclick="imgclick(this)">
        <br><br>
    <%}%>
    <script>
        function imgclick(ele){
            const id_value = ele.id; //自分自身のidの値を取得
            if(id_value){ //念のため参照できるか確認
                location.href = `/mypage/detail/:${id_value}`;
            }
        }
    </script>
</body>
</html>