<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
</head>
<body>
    <h1>投稿したもの</h1>
   
    
   
        <img src="/demo.png" alt="基礎電気回路教科書" ></a>
        
        
        
        
        <dialog>
            <!-- モーダルウィンドウ内のテキストの指定 -->
            <p>本当に削除しますか？</p>
            <!-- モーダルウィンドウ内を閉じるボタンの指定 -->
            <button id="yes">はい</button>
            <button id="no">いいえ</button>
          </dialog>
          <!-- モーダルウィンドウ内を開くボタンの指定 -->
          <button id="delete">削除</button>       

    <script>
    // Javascript宣言
    let dialog = document.querySelector('dialog'); // dialog（モーダルダイアログ）の宣言
    let btn_delete = document.getElementById('delete'); // open（開く）ボタンの宣言
    let btn_yes = document.getElementById('yes');//yes(はい)ボタンの宣言
    let btn_no = document.getElementById('no'); // No（閉じる）ボタンの宣言
    
    // 削除ボタンをクリックした場合の処理
    btn_delete.addEventListener('click', function() { 
    dialog.showModal();
    }, false);
    
    // yesをクリックした場合の処理
    btn_yes.addEventListener('click', function() {
            // ここに削除処理を追加()
             // 別の EJS ファイルに遷移する
             dialog.close();
             window.location.href = '/delete_result'; // 遷移先の URL を指定    
        }, false);
        
    // Noをクリックした場合の処理
    btn_no.addEventListener('click', function() {
    dialog.close();
    }, false);

    </script>

</body>
</html>