<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <input type="text" value="" id = "findmono">
    <input type="submit" value="検索" onclick="searchclicked()">
    <a href="/new"><input type="submit" value="投稿"></a>
    <script>
        function searchclicked(){
            let formtext = document.getElementById("findmono");
            if(formtext.value){ //検索の文字列が参照できるなら
                location.href = `/search?word=${formtext.value}`;//クエリパラメータとして追記する
            }
        }
    </script>
    <a href="/mypage"><input type="button" name="mypage" value="マイページ"></a>
    <p>新着情報</p>
        <% results.forEach(function (v) {%>
            <!---ルーティングの移動用仮画像--->
            <img src=<%=v.img_path%> id=<%=v.mono_id%> onclick="imgclick(this)">
        <%});%>
    <script>

        function imgclick(ele){
            const id_value = ele.id; //自分自身のidの値を取得
            if(id_value){ //念のため参照できるか確認
                location.href = `/detail/${id_value}`;
            }
        }
    </script>
</body>
</html>